{% extends "panelAdmin/panelAdmin.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock css %}

{% block nav %}
{% endblock nav %}

{% block body %}
<div class="container">
    <div class="row justify-content-center"> <!-- Centrar el contenido -->
        <div class="col-md-6"> <!-- Ajustar el ancho del formulario -->
            {% block content %}
            {% load crispy_forms_tags %}
            <form method="POST">
                {% csrf_token %}
                <h1 class="text-center fst-italic effect-3d">Inicio de Sesión</h1>
                {{ form | crispy }}
                <div class="d-flex justify-content-end">
                    <a href="{%url 'menuP'%}" class="btn btn-dark">Cancelar</a>&nbsp;
                    <input type="submit" class="btn btn-primary effect-3d btn-3d" value="Ingresar">
                </div>
            </form>
            {% endblock content %}
        </div>
    </div>
</div>
{% endblock body %}
