{% extends "panelAdmin/panelAdmin.html" %}
{% load static %}
{% block css %}
<!-- <link rel="stylesheet" href="{%static 'css/modal.css'%}"> -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
{% endblock css %}

{% block content %}
<h2>Cambiar Contrasena</h2>
<form  method="post">
    {% csrf_token %} 
    {{ form.as_p }}
    <button class="btn btn-primary" type="submit">Cambiar</button>
    <a href="{% url 'panelAdmin' %}" class="btn btn-danger">Cancelar</a>
</form>
{%endblock content%}